@import "./partials/_colors";
@import "./partials/_mixins";
@import "./partials/_spacing";

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
}
header {
  width: 100%;
  min-height: 10vh;
  font-family: sans-serif;

  background: $main-dark;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 $common-padding-x;

  .logo {
    font-size: 3rem;
    font-weight: bold;
    color: $primary-color;
  }

  .list {
    list-style-type: none;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    // margin-right: 2rem;

    @include flexCenter();

    input {
      // padding: 0.2rem;
      font-size: 1.5rem;
      background: transparent;
      border: none;

      @include boxShadow();
      outline: none;

      padding: 1rem;
      border-radius: $common-border-radius;
      color: $main-light;

      &:focus {
        border: 1px solid $primary-color;
      }

      &::placeholder {
        text-transform: capitalize;
      }
    }

    a {
      text-decoration: none;
      color: whitesmoke;
      font-size: 1.6rem;
      // font-weight: 800;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

// header done

main {
  .hero {
    width: 100%;
    min-height: 100vh;
    @include imageOverlay("../img/offices.jpg");
    font-family: Arial, Helvetica, sans-serif;
    color: $main-light;

    .moto {
      width: 60%;
      padding: 8rem 10rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h1 {
        font-size: 3rem;
      }

      p {
        text-align: justify;
      }

      form {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        padding: 2rem 0;

        input {
          padding: 0.8rem;
          border-radius: $common-border-radius;
        }

        button {
          width: 100%;
          padding: 0.8rem;
          border-radius: 2px;
          border: none;
          font-weight: 600;
          background: $primary-color;
          color: $main-light;
          margin: 0.5rem 0;
          border-radius: $common-border-radius;
        }
      }
    }
  }
}

//Hero done(12/21/22) but need to work on media query

.Introduce {
  display: flex;
  width: 100%;
  min-height: 80vh;
  background: red;
  gap: $flex-gap;
  padding: $common-padding-x;

  .column {
    flex: 1;
    background: green;
  }
}

.About {
  display: flex;
  width: 100%;
  min-height: 80vh;
  background: purple;
  gap: $flex-gap;
  padding: $common-padding-x;

  .text {
    flex: 1;
    background: $main-light;
  }

  .cards {
    flex: 1;

    background: $main-light;
    display: flex;
    gap: $flex-gap;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      width: calc(50% - $flex-gap);
      background: brown;
    }
  }
}

.process {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: darkorange;

  flex-direction: column;
}

article {
  width: 100%;
  min-height: 80vh;
  background: black;

  display: flex;
  gap: $flex-gap;
  padding: $common-padding-x;

  .speech {
    flex: 1;
    background: $main-light;
  }
}

footer {
  width: 100%;
  min-height: 40vh;
  background: $main-dark;
}
