:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: sans-serif;
}

header {
  width: 100%;
  min-height: 10vh;
  background: #212121;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}
header .logo {
  font-size: 3rem;
  font-weight: bold;
  color: #4caf50;
}
header .list {
  list-style-type: none;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
header .list input {
  font-size: 1.5rem;
  background: transparent;
  border: none;
  box-shadow: 0 1px 2px rgba(245, 245, 245, 0.4), inset 0 1px 2px rgba(245, 245, 245, 0.4);
  outline: none;
  padding: 1rem;
  border-radius: 0.5rem;
  color: whitesmoke;
}
header .list input:focus {
  border: 1px solid #4caf50;
}
header .list input::placeholder {
  text-transform: capitalize;
}
header .list a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.6rem;
}
header .list a:hover {
  color: #4caf50;
}

main .hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("../img/offices.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}
main .hero .moto {
  width: 60%;
  padding: 8rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .hero .moto h1 {
  font-size: 3rem;
}
main .hero .moto p {
  text-align: justify;
}
main .hero .moto form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem 0;
}
main .hero .moto form input {
  padding: 0.8rem;
  border-radius: 0.5rem;
}
main .hero .moto form button {
  width: 100%;
  padding: 0.8rem;
  border-radius: 2px;
  border: none;
  font-weight: 600;
  background: #4caf50;
  color: whitesmoke;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}

.Introduce {
  display: flex;
  width: 100%;
  min-height: 80vh;
  gap: 1rem;
  padding: 3rem;
}
.Introduce .column {
  flex: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.Introduce .column h2 {
  font-size: 3rem;
  text-transform: capitalize;
}
.Introduce .column img {
  width: 100%;
}
.Introduce .column p {
  font-size: 1.8rem;
  text-align: justify;
}
.Introduce .column a {
  text-decoration: none;
  background: #4caf50;
  color: whitesmoke;
  width: 40%;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
}

.About {
  display: flex;
  width: 100%;
  min-height: 80vh;
  background: purple;
  gap: 1rem;
  padding: 3rem;
}
.About .text {
  flex: 1;
  background: whitesmoke;
}
.About .cards {
  flex: 1;
  background: whitesmoke;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.About .cards .card {
  width: calc(50% - 1rem);
  background: brown;
}

.process {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: darkorange;
  flex-direction: column;
}

.testimonials {
  width: 100%;
  min-height: 80vh;
  background: black;
  display: flex;
  gap: 1rem;
  padding: 3rem;
}
.testimonials .speech {
  flex: 1;
  background: whitesmoke;
}

footer {
  width: 100%;
  min-height: 10vh;
  background: #212121;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 700px) {
  body header {
    flex-direction: column;
  }
  body header input {
    display: none;
  }
  body main .hero {
    min-height: 75vh;
  }
  body main .hero .moto {
    width: 100%;
    padding: 8rem 2rem;
    text-align: justify;
  }
  body main .hero .moto h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  body main .hero .moto form {
    margin-top: 5.5rem;
    width: 100%;
  }
  body main .Introduce {
    flex-direction: column;
  }
  body main .Introduce .column a {
    width: 100%;
  }
  body main .About {
    flex-direction: column;
  }
  body main .About .cards {
    flex-direction: column;
  }
  body main .About .cards .card {
    min-height: 25rem;
    width: 100%;
  }
  body main .testimonials {
    flex-direction: column;
  }
}
