@import "./partials/_colors";
@import "./partials/_mixins";
@import "./partials/_spacing";

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
}
header {
  width: 100%;
  min-height: 20vh;
  font-family: sans-serif;

  background: $main-dark;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 $common-padding-x;

  .logo {
    font-size: 3rem;
    font-weight: bold;
    color: $primary-color;
  }

  .list {
    list-style-type: none;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    // margin-right: 2rem;

    @include flexCenter();

    input {
      padding: 0.3rem;
      font-size: 1.78rem;
    }

    a {
      text-decoration: none;
      color: whitesmoke;
      font-size: 2rem;
      // font-weight: 800;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

// header done

main {
  .hero {
    width: 100%;
    min-height: 80vh;
    @include imageOverlay("../img/offices.jpg");
  }
}
