@import "./partials/_colors";
@import "./partials/_mixins";
@import "./partials/_spacing";
@import "./partials/_media";

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: sans-serif;
}
header {
  width: 100%;
  min-height: 10vh;

  background: $main-dark;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 $common-padding-x;

  .logo {
    font-size: 3rem;
    font-weight: bold;
    color: $primary-color;
  }

  .list {
    list-style-type: none;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    // margin-right: 2rem;

    @include flexCenter();

    input {
      // padding: 0.2rem;
      font-size: 1.5rem;
      background: transparent;
      border: none;

      @include boxShadow();
      outline: none;

      padding: 1rem;
      border-radius: $common-border-radius;
      color: $main-light;

      &:focus {
        border: 1px solid $primary-color;
      }

      &::placeholder {
        text-transform: capitalize;
      }
    }

    a {
      text-decoration: none;
      color: whitesmoke;
      font-size: 1.6rem;
      // font-weight: 800;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

// header done

main {
  .hero {
    width: 100%;
    min-height: 100vh;
    @include imageOverlay("../img/offices.jpg");
    font-family: Arial, Helvetica, sans-serif;
    color: $main-light;

    .moto {
      width: 60%;
      padding: 8rem 10rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h1 {
        font-size: 3rem;
      }

      p {
        text-align: justify;
      }

      form {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        padding: 2rem 0;

        input {
          padding: 0.8rem;
          border-radius: $common-border-radius;
        }

        button {
          width: 100%;
          padding: 0.8rem;
          border-radius: 2px;
          border: none;
          font-weight: 600;
          background: $primary-color;
          color: $main-light;
          margin: 0.5rem 0;
          border-radius: $common-border-radius;
        }
      }
    }
  }
}

//Hero done(12/21/22) but need to work on media query

.Introduce {
  display: flex;
  width: 100%;
  min-height: 80vh;
  // background: red;
  gap: $flex-gap;
  padding: $common-padding-x;

  .column {
    flex: 1;
    // background: green;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    h2 {
      font-size: 3rem;
      text-transform: capitalize;
    }
    img {
      width: 100%;
    }

    p {
      font-size: 1.8rem;
      text-align: justify;
    }

    a {
      text-decoration: none;
      background: $primary-color;
      color: $main-light;

      width: 40%;
      padding: 1rem;
      text-align: center;
      border-radius: $common-border-radius;
    }
  }
}

.About {
  display: flex;
  width: 100%;
  min-height: 80vh;
  background: purple;
  gap: $flex-gap;
  padding: $common-padding-x;

  .text {
    flex: 1;
    background: $main-dark;
    color: $main-light;

    padding: $common-padding-x;
    display: flex;
    flex-direction: column;
    gap: $common-padding-x;

    P {
      text-align: justify;
    }
  }

  .cards {
    flex: 2;

    background: $main-light;
    display: flex;
    gap: $flex-gap;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      width: calc(50% - $flex-gap);
      background: brown;
    }
  }
}

.process {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: darkorange;

  flex-direction: column;
}

.testimonials {
  width: 100%;
  min-height: 80vh;
  background: black;

  display: flex;
  gap: $flex-gap;
  padding: $common-padding-x;

  .speech {
    flex: 1;
    background: $main-light;
  }
}

footer {
  width: 100%;
  min-height: 10vh;
  background: $main-dark;
  color: $main-light;

  @include flexCenter();
}

@media only screen and (max-width: $mobile-screen) {
  body {
    header {
      flex-direction: column;

      input {
        display: none;
      }
    }
    main {
      .hero {
        min-height: 75vh;
        .moto {
          width: 100%;
          padding: 8rem 2rem;
          text-align: justify;

          h1 {
            font-size: 2.5rem;
            margin-bottom: 2rem;
          }

          form {
            margin-top: 5.5rem;
            width: 100%;
          }
        }
      }
      .Introduce {
        flex-direction: column;

        .column {
          a {
            width: 100%;
          }
        }
      }
      .About {
        flex-direction: column;

        .cards {
          flex-direction: column;
          .card {
            min-height: 25rem;
            width: 100%;
          }
        }
      }
      .testimonials {
        flex-direction: column;
      }
    }
  }
}
